<br>
<h1 style="text-align: center;">Order Summary</h1>
<br>
<br>
<style>.dropbtn {
  background-color: rgb(5, 87, 5);
  color: white;
  padding: 1px;
  font-size:14px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.tuf{
  font-size: 18px;;
}
.tif{
  font-size: 14px;;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #0845ec;}</style>
<% if (products) {%>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <ul class="list-group">
      <% for(var i=0;i< products.length; i++){%>
        <% if(products[i].qty){%>
        <li class="list-group-item">
        <span class='badge'><%=products[i].qty%></span>
        <strong class="tuf"> <%= products[i].item.title%></strong>
        <span class='label tif label-success'>&#8377; <%= products[i].price%></span>
        <div class="dropdown">
          <button class="dropbtn">Remove</button>
          <div class="dropdown-content">
            <a  href="/reduce/<%= products[i].item._id%>">Remove one</a>
            <a href="/remove/<%= products[i].item._id%>">Remove all</a>
          </div>
        </div>
      </li>
      <%} else{
        continue;
      }}}%>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <strong>Total:&#8377; <%= totalPrice%> </strong>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <a href="/checkout" class="btn btn-success" role= "button" >Checkout</a>
  </div>
</div><% if(!products){%>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <h2>No items in cart</h2>
    </div>
  </div><%}%>
<br>
<br>
<br>
<br>
<div class="bottom-container" id="foot">
  <a class="footer-link" href="">Google</a>
  <a class="footer-link" href="">Facebook</a>
  <a class="footer-link" href="">Twitter</a>
  <p class="copy"><strong> © 2021 Tech Takeout</strong></p>
</div>


